---
layout: page
current_events:
- techtalks_2017_jan
- gamejam_2017_feb
- techtalks_2017_feb
past_events:
- techtalks_2016_nov
- gamejam_2016_nov
- techtalks_2016_oct
- hackathon_2016_oct
- gamejam_2016_sep
- techtalks_2016_sep
- hackathon_2016_may
---


Welcome to the site. Here we collect the information related to EAL tech events


<h2>What is this?</h2>

Tech events at EAL is part of our efforts to create an environment at EAL, where students, staff
and others work and play with technology.

<div class="events">
<h2>What is scheduled?</h2>

{% for ev in page.current_events %}
  {% assign event = site.collections | where: "label", {{ev}} | first %}
  {% assign customIconPath = "/media/" | append: event.type | append: ".png" %}
  {% assign typeicon = "/media/defaulttype.png" %}
  {% for static_file in site.static_files %}
      {% if static_file.path == customIconPath %}
          {% assign typeicon = customIconPath %}
      {% endif %}
  {% endfor %}
  <div class="event">
  <a href="{{ ev }}">
    <img src="{{typeicon}}" alt="{{ event.type }} - {{ event.date }}"/>
    {{ event.type }}<br />
    {{ event.date }}
  </a>
</div>
{% endfor %}
</div>

<div class="events">
<h2>Past events</h2>

{% for ev in page.past_events %}
{% assign event = site.collections | where: "label", {{ev}} | first %}
{% assign customIconPath = "/media/" | append: event.type | append: ".png" %}
{% assign typeicon = "/media/defaulttype.png" %}
{% for static_file in site.static_files %}
    {% if static_file.path == customIconPath %}
        {% assign typeicon = customIconPath %}
    {% endif %}
{% endfor %}

<div class="event">
  <a href="{{ ev }}">
    <img src="{{typeicon}}" alt="{{ event.type }} - {{ event.date }}"/>
    {{ event.type }}<br />
    {{ event.date }}
  </a>
</div>
{% endfor %}
</div>

Media files are located <a href="media">here</a>
