There is free parking, but ...

You must announnce your arrival to get a parking permit. This is done by sending an email to <a hreft"mailto:eal@eal.dk>eal@eal.dk</a> including name, license plate and mobile phone number. The official guide is <a href="https://www.eal.dk/international/contact/find-us/seebladsgade-1/">here</a>

The train station is a <a href="https://www.google.dk/maps/dir/Odense+St.,+Odense/Seebladsgade+1,+5000+Odense/@55.4031864,10.3791838,16z/data=!3m1!4b1!4m14!4m13!1m5!1m1!1s0x464cdffe94c69193:0x55f5ab9b0f2af888!2m2!1d10.3871575!2d55.4012807!1m5!1m1!1s0x464cdffce26d61f5:0xb3c45d391e70236f!2m2!1d10.379334!2d55.403458!3e2">9 minute walk</a> from the venue.
